<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="./img2/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="./img2/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./img2/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./img2/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./img2/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="./img2/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./img2/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./img2/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img2/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../img2/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../img2/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../img2/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../img2/favicon-16x16.png"
    />
    <link rel="manifest" href="./img2/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="img2/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/new_style.css" />

    <title>Dashboard</title>
  </head>
  
  <body class="dashboard">
    <header>
      <div class="navbar">
        <div class="logo">
          <img src="../img2/logo.png" alt="logo" />
        </div>
        <div class="searchBer">
          <input type="text" placeholder="Search" />
          <button type="button">
            <img src="../img2/search.svg" alt="search icon" />
          </button>
        </div>
        <div class="accountnotify">
          <div class="account">
            <div class="userImg">
              <img src="../img2/user.jpg" alt="user" />
            </div>
            <div>
              <h5 class="username">
                Customer Name
                <select id="account">
                  <option>Option 1</option>
                  <option>Option 2 Option 1</option>
                  <option>Option 3 Option 1</option>
                  <option>Option 4</option>
                </select>
              </h5>
              <small class="editProfile">Edit Profile</small>
            </div>
          </div>
          <div class="notifyIcon hasNotification">
            <img src="../img2/notification.svg" alt="notification" />
          </div>
        </div>
        <div class="hamburger" id="hamburger">
          <svg
            width="35"
            height="35"
            viewBox="0 0 35 35"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.06694 10.5001H27.0669C27.4533 10.5001 27.7669 10.1872 27.7669 9.8001C27.7669 9.413 27.4533 9.1001 27.0669 9.1001H6.06694C5.68054 9.1001 5.36694 9.413 5.36694 9.8001C5.36694 10.1872 5.67984 10.5001 6.06694 10.5001Z"
              fill="#1f384c"
            />
            <path
              d="M6.06694 25.9H27.0669C27.4533 25.9 27.7669 25.5871 27.7669 25.2C27.7669 24.8129 27.4533 24.5 27.0669 24.5H6.06694C5.68054 24.5 5.36694 24.8129 5.36694 25.2C5.36694 25.5871 5.67984 25.9 6.06694 25.9Z"
              fill="#1f384c"
            />
            <path
              d="M6.06694 18.2H27.0669C27.4533 18.2 27.7669 17.8871 27.7669 17.5C27.7669 17.1129 27.4533 16.8 27.0669 16.8H6.06694C5.68054 16.8 5.36694 17.1129 5.36694 17.5C5.36694 17.8871 5.67984 18.2 6.06694 18.2Z"
              fill="#1f384c"
            />
          </svg>
        </div>
      </div>
    </header>
    <main class="dashboardPage">
      <aside class="sidebar" id="sidebar">
        <div class="menu">
          <div class="searchBer onlyMobile">
            <input type="text" placeholder="Search" />
            <button type="button">
              <img src="../img2/search.svg" alt="search icon" />
            </button>
          </div>
          <p>MENU</p>
          <a href="#" class="active">
            <img src="../img2/dashboard.svg" alt="dashboard" />
            Dashboard
          </a>
          <a href="/users/upload">
            <img src="../img2/lower-new-bill.svg" alt="Lower a new bill" />
            Lower a new bill
          </a>
          <a href="#">
            <img src="../img2/manage-menu.svg" alt="Manage Menu" />
            Manage Menu
          </a>
        </div>
        <div class="menu">
          <p>OTHERS</p>
          <a href="#" class="active">
            <img src="../img2/setting.svg" alt="Settings" />
            Settings
          </a>
          <a href="/users/getMultipleFiles">
            <img src="../img2/manage-payments.svg" alt="Manage Payments" />
            Manage Payments
          </a>
          <a href="#">
            <img src="../img2/profile.svg" alt="Accounts" />
            Accounts
          </a>
          <a href="#">
            <img src="../img2/help.svg" alt="Help" />
            Help
          </a>
          <a href="/logout">
          <img src="../img2/log-out.svg" alt="logout" />
            logout
            </span>
            
        </a>
        </div>
        <div class="onlyMobile menu">
          <div class="account">
            <div class="userImg">
              <img src="../img2/user.jpg" alt="user" />
            </div>
            <div>
              <h5 class="username">
                Customer Name
                <select id="account">
                  <option>Option 1</option>
                  <option>Option 2 Option 1</option>
                  <option>Option 3 Option 1</option>
                  <option>Option 4</option>
                </select>
              </h5>
              <small class="editProfile">Edit Profile</small>
            </div>
          </div>
        </div>
      </aside>
      <section class="dashboardContent">
        <h1 class="title">Dashboard</h1>
        <div class="formContainer">
          <p>
            We need a few details about your bill so that we can get access to
            negotiate. Any fields marked with a red asterisk * are required.
          </p>
          <form action="/users/addFormDetails" method="post" >
            <label for="address"
              >SERVICE ADDRESS<span class="red">*</span>(Please make sure to
              include your city or zip code)</label
            >
            <input
              name="service_address" 
              id="service_address"
              type="text"
              placeholder="100 Main Street, Apt 1, Town, USA 12345"
            required/>

            <label for="name"
              >ACCOUNT HOLDER NAME<span class="red"> *</span></label>
            <input 
            type="name" 
            name="accountholder_name" 
            id="accountholder_name"  
            placeholder="Peter Parker" required/>
            
            <label for="phone">PHONE NUMBER</label>
            <input 
            id="phone" 
            type="text" 
            name="phonenumber"
            placeholder="(555)123-9999" />

            <label for="pin"
              >LAST 4 DIGITS OF PAYMENT METHOD or PIN(if there is any)
            </label>
            <input 
            name="pin_code" 
            id="pin_code" 
            type="text" 
            placeholder="1234" />

            <small
              >Please enter the last four digits of the card or bank account you
              use.</small
            >

            <label for="socialsecurity"
              >LAST 4 DIGITS OF SOCIAL SECURITY NUMBER<span class="red">*</span>
            </label>
            <input 
            onkeypress="return 
            onlyNumberKey(event)"  
            type="text" 
            maxlength="4"  
            name="sinNumber" 
            id="sinNumber" 
            placeholder="1234" 
            required/>
            
            <label for="accnumber">ACCOUNT NUMBER <span class="red">*</span> </label>
            <input
              type="text"
              name="account_number" 
              id="account_number"
              placeholder="8111-10-100-100000"
            required/>
            <button type="submit" class="btn">Continue</button>
          </form>
        </div>
      </section>
    </main>
    <script>
      let ham = document.getElementById("hamburger");
      let sidebar = document.getElementById("sidebar");

      ham.addEventListener("click", function () {
        sidebar.classList.toggle("show");
      });

      function onlyNumberKey(evt) {
          
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
    </script>
  </body>
</html>
